{% extends 'layouts/base.html' %}

{% block content %}
    <h1>{{ product.name }}</h1>

    <p>Descripción: {{ product.description }}</p>
    <p>Precio: ${{ product.price }}</p>
    <p>Cantidad: {{ product.quantity }}</p>

    <form action="{% url 'edit_product' product.id %}" method="get" style="display: inline;">
        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
    

    <form action="{% url 'delete_product' product.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>


    <form action="{% url 'products' %}" style="display: inline;">
        <button type="submit" class="btn btn-secondary">Volver</button>
    </form>

{% endblock %}
